@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: hsl(0, 0%, 95%);
}
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.main{
    display: flex;
    flex-direction: row;
}
.sedan{
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0px 0px 10px;
}
.suvs{
    background-color: hsl(184, 100%, 22%);
}
.luxury{
    background-color: hsl(179, 100%, 13%) ;
    border-radius: 0px 10px 10px 0px;
}
.btn-sedan{
    color: hsl(31, 77%, 52%);
}
.btn-suvs{
    color: hsl(184, 100%, 22%);
}
.btn-luxury{
    color: hsl(179, 100%, 13%);
}
.bodyframe{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    width: 195px;
    padding: 30px;
    color: hsla(0, 0%, 100%, 0.75);
}
.bodyframe img {
    width: 50px;
    height: 30px;
}
.title{
    color: hsl(0, 0%, 95%);
    display: inline-block;
    margin: 25px 0px;
    font-size: 30px;
    font-family: 'Big Shoulders Display', cursive;
}
.button{
    text-decoration: none;
    display: inline-block;
    margin-top: 70px;
    margin-bottom: 10px;
    padding: 9px 20px;
    background-color: hsl(0, 0%, 95%);
    border: 1px solid white;
    border-radius: 50px;
}
.button:hover{
    color: white;
    background-color: rgba(255, 255, 255, 0);
}

@media only screen and (max-width : 720px) {
    .main{
        flex-direction: column;
    }
    .center{
        margin-top: 100px;
        top: 0;
        -ms-transform: translate(-50%);
        transform: translate(-50%);
    }
    .sedan{
        border-radius: 10px 10px 0px 0px;
    }
    .luxury{
        border-radius: 0px 0px 10px 10px;
    }
    .attribution{
        margin-bottom: 100px;
    }
}